<!-- Main container -->
<main style="display: flex; flex-wrap: wrap; justify-content: center; align-items: flex-start; padding: 20px;">
  
  <div style="flex: 1; min-width: 1000px; margin-right: 50px;">
    <app-world-map (countrySelected)="displayCountryInfo($event)"></app-world-map>
  </div>

  <div style="flex: 1; min-width: 200px;">
    <h2>Country Information</h2>
    <div id="country-info">
      <ng-container *ngIf="selectedCountry">
        <h3>{{ selectedCountry[1][0].name }}</h3>
        <p><strong>Capital:</strong> {{ selectedCountry[1][0].capitalCity }}</p>
        <p><strong>Region:</strong> {{ selectedCountry[1][0].region.value }}</p>
        <p><strong>Income Level:</strong> {{ selectedCountry[1][0].incomeLevel.value }}</p>
        <!-- You can add more details similarly -->
      </ng-container>
      <ng-template #noSelection>
        <p>Select a country to see the information</p>
      </ng-template>
    </div>
  </div>

</main>
