<!-- Main container -->
<main style="display: flex; flex-wrap: wrap; justify-content: center; align-items: flex-start; padding: 20px;">
  
  <div style="flex: 1; min-width: 1000px; margin-right: 50px;">
    <app-world-map (countrySelected)="displayCountryInfo($event)"></app-world-map>
  </div>

  <div style="flex: 1; min-width: 200px; border: 1px solid #ccc; padding: 20px;">
    <ng-container *ngIf="selectedCountry; else noSelection">
    <h2>Country Information</h2>
    <div id="country-info">
      
        <h3>{{ selectedCountry.name }}</h3>
        <p><strong>Capital:</strong> {{ selectedCountry.capitalCity }}</p>
        <p><strong>Region:</strong> {{ selectedCountry.region.value }}</p>
        <p><strong>Income Level:</strong> {{ selectedCountry.incomeLevel.value }}</p>
        <p><strong>Latitude:</strong> {{ selectedCountry.latitude }}</p> 
        <p><strong>Longitude:</strong> {{ selectedCountry.longitude }}</p>
        <p><strong>Population:</strong> {{ selectedCountry.population }}</p>
        <p><strong>GDP in USD:</strong> {{ selectedCountry.gdp }}</p>
        <!-- You can add more details similarly -->
    </div>
  </ng-container>
  <ng-template #noSelection>
    <p>Select a country to see the information</p>
  </ng-template>

  </div>

</main>
